/* All Pages */
body{
    background: rgb(200,219,241);
    background: radial-gradient(circle, rgba(200,219,241,1) 0%, rgba(238,174,202,1) 100%);
}


.header{
    height: 150px;
    width: auto;
    border: 2px solid black;
    margin: 70px;
    text-align: center;
    font-family: Great Vibes;
    font-size: 15px;
    letter-spacing: 2px;
}


a:hover{
    background: rgb(234, 156, 204);
    color: deeppink;
}


a{
    text-decoration: none;
    color: black;
}


p{
    font-family: Handlee;
    letter-spacing: 1px;
}
/* All Pages */


/* Index Page */
.RealHero{
    height: 700px;
    width: auto;
    background-image: url(../IMG/heroimage.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}


.button{
    margin: 50px;
    padding: 30px;
    font-family: Handlee;
    font-size: 13px;
    background-color: transparent;
}

.resin{
    height: 500px;
    width: 1500px;
    padding-left: 170px;
}


.Hero-Item{
    display: inline-block;
}


.Right{
    width: 23%;
    height: 30vh;
    padding: 40px;
}


.Left-Image{
    height: 800px;
    padding: 30px;
}


.Right-Image{
    height: 400px;
}


.tiktok{
    float: right;
    padding: 70px;
}
/* Index Page */


/* Contact Page */
.form{
    height: 375px;
    border: 1px solid black;
    padding: 12px;
    margin: 70px;
    text-align: center;
}


.googlemaps{
    text-align: center;
}
/* Contact Page */


/* About Page */
.columns{
    width: 33%;
    display: inline-block;
}

.pfp{
    padding-left: 70px;
}


#AboutMe{
    font-family: Handlee;
    text-align: center;
}


.visuals{
    padding-left: 10px;
}
/* About Page */



/* Footer Content */
footer{
    border: 2px solid black;
    margin: 70px;
    height: 275px;
}


.footer{
    width: auto;
    margin: 70px;
    font-family: Great Vibes;
    font-size: 15px;
    letter-spacing: 2px;
}


.Centerside{
    padding: 5px;
    font-size: 12px;
    text-align: center;
}


.rightside{
    float: right;
    position: relative;
    bottom: 40px;
}

.footnav{
    padding: 40px;
    display: inline-block;
}

.navitems{
    display: inline-block;
}
/* Footer Content */